<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>日历组件</title>
    <script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
<div class="show-date" style="cursor: pointer;border: 1px solid red;width: 14rem">点此显示4个日历选取的date</div>
<div class="show"></div>
<div class="calendar-space-there21 calendar-space-view"></div>
<div class="calendar-space-there22 calendar-space-view"></div>
<!--<div class="calendar-space-there23 calendar-space-view"></div>-->
<!---->
<div class="calendar-space-toggle calendar-space-there11">点此弹出日历</div>
<div class="calendar-space-there11 calendar-space-view"></div>
<div class="calendar-space-there11 calendar-space-view"></div>
<!---->
<div class="calendar-space-toggle calendar-space-there12">点此弹出日历</div>
<div class="calendar-space-there12 calendar-space-view"></div>
<!---->
<!--<div class="calendar-space-toggle calendar-space-there13">点此弹出日历</div>-->
<!--<div class="calendar-space-there13 calendar-space-view"></div>-->
<!---->
<script src="calendarSpacePlug.js"></script>
<script src="pluginDemo.js"></script>
</body>
</html>